<div id="landingPage">
  <h1> URL shortener </h1>
  <br>

  <h2>Here are the current users:</h2>
  <ul>
  <%@users.each do |user|%>
  <li><%= link_to user.username, user %></li>
  <%end%>
  </ul>



  <% if session[:user] != nil %>

  <% user = User.find(session[:user]) %>
  <div><%= user.username %> is logged in</div>
  <span><%= link_to "sign out", logout_path %></span>
  <% else %>
  <span><%= link_to "Sign Up", new_user_path %></span>
  <br>
  <span><%= link_to "login", login_path %></span>

  <% end%>

  <div class="galleria">
    <img src="<%= asset_path 'lake.jpg' %>">
  </div>
</div>
