<h1>Please login</h1>
<ul>
<%= form_tag :action => :signin do %>
  <li>
    <%= label_tag :user, "Username: " %>
    <%= text_field_tag :user %>
  </li>
  <li>
    <%= label_tag :user, "Password: " %>
    <%= text_field_tag :password %>
  </li>
  <li>
    <%= submit_tag ("Login") %>

  </li>

<% end%>
</ul>
